.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
}

body {
    background-image: url('../images/home-image-bar.jpeg');
    background-size: auto 150vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 100;
}

#recipe-body {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    line-height: 80%;
}

body h1{
    font-family: 'Poppins', sans-serif;
    color: white
}

.home-container {
    height: 100vh;
    width: 100%;
    margin: 0;
    color: white;
    display: grid;
    grid-template-columns: auto 25% auto;
    grid-template-rows: auto 25% auto;
    font-family: 'Poppins', sans-serif;
}

.home-container #title {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-container #title h1 {
    font-weight: 100;
    margin-left: 12%;
}

.home-container #title button {
    font-weight: 100;
    background: white;
    color: black;
    border-radius: 2px;
    margin-left: 66%;
    
}

#nav-link {
    display: block;
    width: 200px;
    padding: .5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#search-form {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

#search-form button {
    width: 150px;
    background: white;
    color: black;
}

#card-title .h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200; 
}

#recipe-tabs{
    display: flex;
    
}

#recipe-tabs div{
    box-sizing: border-box;
}
.tab-pane {
    position: fixed;
    width: 66%;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: small;
}
.recipe-img {
    height: 300px;
}

button {
    border: 0px;
    background: black;
    color: white;
    border-radius: 3px;
    margin: 5px 5px 0 0;
}

#collection-add-button{
    border: 0px;
    background: black;
    color: white;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

#collection-card * {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-decoration: none;
}

#button {
    border: 0px;
    background: white;
    color: black;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.btn {
    background: black;
}

.modal-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.modal-content button {
    border-radius: 3px;
    margin: 5px 5px 0 0;
}

#collection-select-box {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}